#backgr {
    background: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_493958679_970647970450057_65459.jpg") !important;
    z-index: -3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;

    background-size: cover !important;
}

label {
    color: aliceblue;
    font-size: larger;
    font-style: italic;
}

.form-inputs {
    margin-bottom: 10px !important;
}

table {
    border-collapse: separate !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.nav-item-kon {
    background: gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: aliceblue;
    margin: 10px;

    font-weight: bold;
}

.navbar-kon {
    background: rgba(25, 13, 25, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;

}

.navbar-kon :hover  {
color: aliceblue;

}