<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Management Page</title>
    <link th:rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/utils.js}"></script>
</head>
<body>

<div class="container">
    <input type="hidden" th:value="${successMsg}" id="successMsg">
    <div class="modal" tabindex="-1" role="dialog" id="successModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p th:text="${successMsg}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal();">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="backgr"></div>

<div th:replace="fragments/nav.html :: .navbar-kon"></div>

<main style="width: 70%; margin: auto">
    <a href="/addresses/create" class="nav-item-kon" style="color: aliceblue; background: #212529;">Create New Address</a>

    <table class="table table-sm table-bordered table-dark table-hover" style="margin: 20px 10px 10px 10px" >
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">Street</th>
            <th scope="col">Zip-Code</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
    <tr th:each="address :${addresses} ">
        <td th:text="${address.id}">not found</td>
        <td th:text="${address.city}">-</td>
        <td th:text="${address.country}">-</td>
        <td th:text="${address.street}">-</td>
        <td th:text="${address.zipCode}">-</td>
        <td>
            <button type="button" class="btn btn-outline-success" th:onclick="'javascript:onEditClickAdr('+${address.id}+');'">Edit</button>
            <button type="button" class="btn btn-outline-danger button-delete-address" th:id="${'delete-' + address.id}" th:data-id="${address.id}">Delete</button>

        </td>
    </tr>
    </tbody>
    </table>


</main>

</body>
</html>