<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Address</title>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>
<div id="backgr"></div>

<main>
    <div th:replace="fragments/nav.html :: .navbar-kon"></div>

    <header style="text-align: center; margin-bottom: 40px">
        <h1 style="color: aliceblue"><strong>Create Address</strong></h1>
    </header>

    <div style="display: flex; justify-content: center; padding-top: 5px; margin-bottom: 10px">
        <form id="form1" action="#"  th:action="@{/addresses/create}" th:object="${address}" method="post">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control form-inputs" id="city" th:field="*{city}">

                <label for="country">Country</label>
                <input type="text" class="form-control form-inputs" id="country" th:field="*{country}">

                <label for="street">Street</label>
                <input type="text" class="form-control form-inputs" id="street" th:field="*{street}">

                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control form-inputs" id="zipCode" th:field="*{zipCode}">

            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>

</main>
</body>
</html>