<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>
<div id="backgr"></div>
<main>

    <div th:replace="fragments/nav.html :: .navbar-kon"></div>

    <header style="text-align: center; margin-bottom: 40px">
        <h1 style="color: aliceblue"><strong>Update Address</strong></h1>
    </header>

    <div style="display: flex; justify-content: center;">
    <table class="table table-bordered table-dark" style="width: auto;">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">Street</th>
            <th scope="col">Zip-Code</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${address.id}">not found</td>
            <td th:text="${address.country}">-</td>
            <td th:text="${address.city}">-</td>
            <td th:text="${address.street}">-</td>
            <td th:text="${address.zipCode}">-</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div style="display: flex; justify-content: center; padding-top: 5px; margin-bottom: 10px">
        <form id="form1" action="#"  th:action="@{/addresses/{id}(id=${address.id})}" th:object="${address}" method="post">
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control form-inputs" id="country"
                       th:field="*{country}">

                <label for="city">City</label>
                <input type="text" class="form-control form-inputs" id="city"
                        th:field="*{city}">

                <label for="street">Street</label>
                <input type="text" class="form-control form-inputs" id="street"
                        th:field="*{street}">

                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control form-inputs" id="zipCode"
                        th:field="*{zipCode}">

            </div>

            <button type="submit" value="Edit" class="btn btn-dark">Submit</button>
        </form>
    </div>

</main>
</body>
</html>