<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>

</head>
<body>
<nav class="navbar-kon">
<a class="nav-item-kon" href="/">Main Menu</a>
<a class="nav-item-kon" href="/users">User Management</a>
<a class="nav-item-kon" href="/addresses">Address Management</a>
</nav>

<nav class="navbar-kon-black" style="background: black; margin: 30px 0 30px 0">
    <a class="nav-item-kon" href="/">Main Menu</a>
    <a class="nav-item-kon" href="/users">User Management</a>
    <a class="nav-item-kon" href="/addresses">Address Management</a>
</nav>
</body>
</html>