<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
</head>
<body>
<div id="backgr"></div>
<main>
    <div th:replace="fragments/nav.html :: .navbar-kon"></div>

    <header style="text-align: center; margin-bottom: 40px">
        <h1 style="color: aliceblue"><strong>Create User</strong></h1>
    </header>

    <div style="display: flex; justify-content: center; padding-top: 5px; margin-bottom: 10px">
        <form id="form1" action="#"  th:action="@{/users/create}" th:object="${dto}" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control form-inputs" id="login" th:field="*{login}">

                <label for="firstName">First Name</label>
                <input type="text" class="form-control form-inputs" id="firstName" th:field="*{firstName}">

                <label for="lastName">Last Name</label>
                <input type="text" class="form-control form-inputs" id="lastName" th:field="*{lastName}">

                <label for="email">E-mail</label>
                <input type="email" class="form-control form-inputs" id="email" th:field="*{email}">

                <label for="password">Password</label>
                <input type="password" class="form-control form-inputs" id="password" th:field="*{password}">

                <label for="password-confirm">Confirm password</label>
                <input type="password" class="form-control form-inputs" id="password-confirm" th:field="*{confirmPassword}">

            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>

</main>
</body>
</html>
