<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <style>
        p {
            text-align: center;
            color: red;
            font-weight: bold;
            font-size: 20px;
            margin: 10px 0 7px 10px;
        }
        html {
            background: black;
        }
    </style>
</head>
<body>
<div th:replace="fragments/nav.html :: .navbar-kon-black"></div>
<p>:( 404 Not Found :(</p>
<main>

    <img src="https://i.ytimg.com/vi/Xw1C5T-fH2Y/maxresdefault.jpg" width="100%" style="margin: auto;">

</main>
</body>
</html>