<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Management Page</title>
    <link th:rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/modal.js}"></script>

</head>
<body>



<div id="backgr"></div>

<div th:replace="fragments/modal.html :: #modal-info"></div>

<div th:replace="fragments/nav.html :: .navbar-kon"></div>

<header style="text-align: center; margin-bottom: 40px">
    <h1 style="color: aliceblue"><strong>Main Menu</strong></h1>
</header>

<article style="text-align: center; background: rgba(25, 13, 25, 0.8); font-size: 200%; color: aliceblue">
    <p>Welcome to this awesome website!</p>
    <p>You can add, edit or remove users and addresses.</p>
    <p><strong>Impressive</strong>, isn't it? :)</p>
</article>

</body>
</html>