<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/updateUserUtils.js}"></script>

    <style>
        h2, h3, h4, h5 {
            color: aliceblue;
            background: rgba(25, 13, 25, 0.4);
            width: max-content;
            margin: 15px auto 15px auto;
            padding: 5px;
        }
    </style>
</head>
<body>

<div id="backgr"></div>
<main>
    <div th:replace="fragments/nav.html :: .navbar-kon"></div>
    <header style="text-align: center; margin-bottom: 40px">
        <h1 style="color: aliceblue;"><strong>Update User</strong></h1>
    </header>

    <table class="table table-bordered table-dark" style="width: auto; margin: auto;">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Login</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}">not found</td>
            <td th:text="${user.login}">-</td>
            <td th:text="${user.firstName}">-</td>
            <td th:text="${user.lastName}">-</td>
            <td th:text="${user.email}">-</td>
        </tr>
        </tbody>
    </table>

    <h3><strong>User Addresses</strong></h3>
    <form action="#" th:action="@{/users/{id}/address/add(id=${user.id})}" th:object="${addressAdd}" method="post">
        <div class="form-group" style="display: flex; justify-content: center; margin-top: 15px">
            <select class="form-control custom-select user-address-select" id="address" th:field="*{id}"
                    style="width: fit-content; display: block">
                <option disabled value="0">Select address to Add</option>
                <option th:each="address : ${addressLinkedList}"
                        th:value="${address.id}"
                        th:text="'Country: '+${address.country}+', City: '+${address.city}+ ', Street: '+${address.street}"
                        ></option>
            </select>
            <button type="submit" class="btn btn-success btn-user-put" style="margin-left: 5px">Add</button>
        </div>
    </form>
<!--    th:selected="${address.id eq addressId}"-->

    <table th:if="${user.addresses!=null and !user.addresses.isEmpty()}"
           class="table table-sm table-bordered table-dark table-hover" style="width: auto; margin: auto">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Street</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="address : ${user.addresses} ">
            <td th:text="${addressStat.index +1}">not found</td>
            <td th:text="${address.country}">-</td>
            <td th:text="${address.city}">-</td>
            <td th:text="${address.zipCode}">-</td>
            <td th:text="${address.street}">-</td>
            <td>
                <button type="button" class="btn btn-outline-danger button-delete-user-address"
                        th:id="${'delete-' + address.id}" th:data-address-id="${address.id}" th:data-id="${user.id}">Delete
                </button>

            </td>
        </tr>
        </tbody>
    </table>

    <h3><strong>User Edit</strong></h3>

    <div style="display: flex; justify-content: center; padding-top: 5px; margin-bottom: 10px">
        <form id="form1" action="#" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">

            <div class="form-group">

                <label for="login">Login</label>
                <input type="text" class="form-control form-inputs" id="login"
                       th:field="${user.login}">

                <label for="firstName">First Name</label>
                <input type="text" class="form-control form-inputs" id="firstName"
                       th:field="*{firstName}">

                <label for="lastName">Last Name</label>
                <input type="text" class="form-control form-inputs" id="lastName"
                       th:field="*{lastName}">

                <label for="email">E-mail</label>
                <input type="email" class="form-control form-inputs" id="email"
                       th:field="*{email}">

            </div>
            <button type="submit" value="Edit" class="btn btn-dark">Submit</button>
        </form>
    </div>

</main>
</body>
</html>

