<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Management Page</title>
    <link th:rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/cssbgdam.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/utils.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/modal.js}"></script>
</head>
<body>

<div th:replace="fragments/modal.html :: #modal-info"></div>
<div id="backgr"></div>
<div th:replace="fragments/nav.html :: .navbar-kon"></div>
<main style="width: 70%; margin: auto">

        <a href="/users/create" class="nav-item-kon" style="color: aliceblue; background: #212529;">Create New User</a>
    <table class="table table-sm table-bordered table-dark table-hover" style="margin: 20px 10px 10px 10px">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Login</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user :${users} ">
            <td th:text="${userStat.index +1}"></td>
            <td th:text="${user.login}">-</td>
            <td th:text="${user.firstName}">-</td>
            <td th:text="${user.lastName}">-</td>
            <td th:text="${user.email}">-</td>
            <td>
                <!--           XXX zastosowanie th action i form do wejscia w metode get  XXX -->
                <!--            <form th:action="@{/users/{id}/update(id=${user.id})}" method="get">-->
                <!--                <button type="submit" value="Submit" class="btn btn-success">Edit</button>-->
                <!--            </form>  -->

                <button type="button"  class="btn btn-outline-success" th:onclick="'javascript:onEditClicked('+${user.id}+');'">Edit</button>
                <button type="button" class="btn btn-outline-danger button-delete-user" th:id="${'delete-' + user.id}" th:data-id="${user.id}">Delete</button>

            </td>
        </tr>
        </tbody>
    </table>


</main>


</body>
</html>